.App {
  text-align: center;
  margin-top: -5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


header{
  text-align: center;
  background: black;
  color: orange;
  position: fixed;
  top: 0;
  width: 100vw;
}

body{
  background: gray;
  color: orangered;
}

.gameContainer{
  text-align: center;
  margin-top: 15%;
  font-size: xxx-large;
}

.playAgain{
  background: orange;
  color: black;
  border-radius: 10%;
  text-align: center;
  display: flex;
  margin: auto;
}

.figure-container{
  margin-top: 0;
}

.base {
  fill: black;
}

.figurepart{
  fill: orange;
}


h3{
  text-align: center;
  margin: auto;
  font-size: xx-large;
  text-decoration: underline;
}

.lettersLeft{
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: center;
}

.hiddenword{
  margin-top: 1rem;
}

h1,.headertext{
  margin-top: 1rem;
}
